# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\KAVINDA\Documents\Sem 7\CS4532 - Concurrent Programming\Lab 2\senate-bus-solution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
